<div class="stage">
    <div class="container">
        <div class="ring" style="cursor: grab; transform: rotateY(180deg);">
            <%
                var themeConfig = {};
                for (var i = 0; i < theme.themes.length; i++) {
                    themeConfig[theme.themes[i]] = theme.path[theme.themes[i]];
                }
                console.log(themeConfig);
                console.log(theme.themes);
            %>
            <div class="img rotate-10-0" style="background-image: url(&quot;images/default-1.jpg&quot;);"></div>
            <div class="img rotate-10-1" style="background-image: url(&quot;images/default-2.jpg&quot;);"></div>
            <div class="img rotate-10-2" style="background-image: url(&quot;images/default-3.jpg&quot;);"></div>
            <div class="img rotate-10-3" style="background-image: url(&quot;images/default-4.jpg&quot;);"></div>
            <div class="img rotate-10-4 card">
                <div class="card-back card-container" style="background-image: url(&quot;images/default-8.jpg&quot;);">
                    <div class="top">
                        <h1>Phase</h1>
                    </div>
                    <p class="middle text">
                       通过 Phase，感受时间流逝，它是 Hexo 最美丽的主题。
                    </p>
                    <p class="bottom" theme="phase">
                        <button class="theme-redirect btn btn-primary">主题直达</button>  
                        <button class="theme-source btn">主题来源</button>
                    </p>
                </div>
                <div class="card-front" style="background-image: url(&quot;images/phase.png&quot;);"></div>
            </div>
            <div class="img rotate-10-5 card">
                <div class="card-back card-container" style="background-image: url(&quot;images/default-8.jpg&quot;);">
                    <div class="top">
                        <h1>Landscape</h1>
                    </div>
                    <p class="middle text">
                       Hexo 中的一个全新的默认主题，需要 Hexo 2.4 或更高版本
                    </p>
                    <p class="bottom" theme="landscape">
                        <button class="theme-redirect btn btn-primary">主题直达</button>
                        <button class="theme-source btn">主题来源</button>
                    </p>
                </div>
                <div class="card-front" style="background-image: url(&quot;images/landscape.jpg&quot;);"></div>
            </div>
            <div class="img rotate-10-6 card">
                <div class="card-back card-container" style="background-image: url(&quot;images/default-8.jpg&quot;);">
                    <div class="top">
                        <h1>Light</h1>
                    </div>
                    <p class="middle text">
                       Hexo 中的一个简约主题
                    </p>
                    <p class="bottom" theme="light">
                        <button class="theme-redirect btn btn-primary">主题直达</button>  
                        <button class="theme-source btn">主题来源</button>
                    </p>
                </div>
                <div class="card-front" style="background-image: url(&quot;images/light.jpg&quot;);"></div>
            </div>
            <div class="img rotate-10-7" style="background-image: url(&quot;images/default-5.jpg&quot;);"></div>
            <div class="img rotate-10-8" style="background-image: url(&quot;images/default-6.jpg&quot;);"></div>
            <div class="img rotate-10-9" style="background-image: url(&quot;images/default-7.jpg&quot;);"></div>
        </div>
    </div>
</div>