<div class="stage">
    <div class="container">
        <div class="ring" style="cursor: grab; transform: rotateY(180deg);">
            <div class="img" style="opacity: 1; transform: translate3d(0px, 0px, -500px); backface-visibility: hidden; background-position: 100px 0px; background-image: url(&quot;images/32.jpg&quot;); transform-origin: 50% 50%;"></div>
            <div class="img" style="opacity: 1; transform: translate3d(293.893px, 0px, -404.509px) rotateY(-36deg); backface-visibility: hidden; background-position: -350px 0px; background-image: url(&quot;images/33.jpg&quot;); transform-origin: 50% 50%;"></div>
            <div class="img" style="opacity: 1; transform: translate3d(475.528px, 0px, -154.508px) rotateY(-72deg); backface-visibility: hidden; background-position: -300px 0px; background-image: url(&quot;images/34.jpg&quot;); transform-origin: 50% 50%;"></div>
            <div class="img" style="opacity: 1; transform: translate3d(475.528px, 0px, 154.508px) rotateY(-108deg); backface-visibility: hidden; background-position: -250px 0px; background-image: url(&quot;images/35.jpg&quot;); transform-origin: 50% 50%;"></div>
            <div class="img card" style="opacity: 1; transform: translate3d(293.893px, 0px, 404.509px) rotateY(-144deg); backface-visibility: hidden; background-position: -200px 0px; transform-origin: 50% 50%;">
                <div class="card-back card-container" style="background-image: url(&quot;images/32.jpg&quot;);">
                    <p class="bottom" theme="phase">
                        <button class="theme-redirect btn btn-primary">主题直达</button>  
                        <button class="theme-default btn">设为默认</button>
                    </p>
                </div>
                <div class="card-front" style="background-image: url(&quot;images/phase.png&quot;);"></div>
            </div>
            <div class="img card" style="opacity: 1; transform: translate3d(0px, 0px, 500px) rotateY(-180deg); backface-visibility: hidden; background-position: -150px 0px; transform-origin: 50% 50%;">
                <div class="card-back card-container" style="background-image: url(&quot;images/32.jpg&quot;);">
                    <p class="bottom" theme="landscape">
                        <button class="theme-redirect btn btn-primary">主题直达</button>
                        <button class="theme-default btn">设为默认</button>
                    </p>
                </div>
                <div class="card-front" style="background-image: url(&quot;images/landscape.jpg&quot;);"></div>
            </div>
            <div class="img card" style="opacity: 1; transform: translate3d(-293.893px, 0px, 404.509px) rotateY(-216deg); backface-visibility: hidden; background-position: -100px 0px; transform-origin: 50% 50%;">
                <div class="card-back card-container" style="background-image: url(&quot;images/32.jpg&quot;);">
                    <p class="bottom" theme="light">
                        <button class="theme-redirect btn btn-primary">主题直达</button>  
                        <button class="theme-default btn">设为默认</button>
                    </p>
                </div>
                <div class="card-front" style="background-image: url(&quot;images/light.jpg&quot;);"></div>
            </div>
            <div class="img" style="opacity: 1; transform: translate3d(-475.528px, 0px, 154.508px) rotateY(-252deg); backface-visibility: hidden; background-position: -50px 0px; background-image: url(&quot;images/39.jpg&quot;); transform-origin: 50% 50%;"></div>
            <div class="img" style="opacity: 0.9989; transform: translate3d(-475.528px, 0.2285px, -154.508px) rotateY(-288deg); backface-visibility: hidden; background-position: 0px 0px; background-image: url(&quot;images/40.jpg&quot;); transform-origin: 50% 50%;"></div>
            <div class="img" style="opacity: 0.9982; transform: translate3d(-293.893px, 0.3628px, -404.509px) rotateY(-324deg); backface-visibility: hidden; background-position: 50px 0px; background-image: url(&quot;images/41.jpg&quot;); transform-origin: 50% 50%;"></div>
        </div>
    </div>
</div>