:root {
    --body-bg-color: body-bg-color;
    --nav-bg-color: nav-bg-color;
    --content-bg-color: content-bg-color;
    --text-color: text-color;
    --color-scheme-icon-color: color-orange;

    color-scheme: light;
}

// 定义一个 Mixin 来封装暗黑模式的样式
dark-mode-styles() {
    --body-bg-color: body-bg-color-dark;
    --nav-bg-color: nav-bg-color-dark;
    --content-bg-color: content-bg-color-dark;
    --text-color: text-color-dark;
    --color-scheme-icon-color: color-yellow;
    
    color-scheme: dark;
}

dark-filter-styles() {
    filter: brightness(0.5) contrast(0.8);
}

dark-bg-img-styles() {
    background: url(../images/body-bg-dark.png) center no-repeat fixed;
}

// 跟随系统
if (hexo-config('darkmode') == 1) {
    @media (prefers-color-scheme: dark) {
        :root {
            dark-mode-styles();
        }

        #logo-wrap, .theme-wrap, .loading, #gritter-notice-wrapper {
            dark-filter-styles();
        }

        .bg-img {
            dark-bg-img-styles();
        }
    }
}

// 手动切换
if (hexo-config('darkmode') == 2) {
    .dark-theme {
        dark-mode-styles();
    }

    .dark-theme #logo-wrap,
    .dark-theme .theme-wrap,
    .dark-theme .loading,
    .dark-theme #gritter-notice-wrapper {
        dark-filter-styles();
    }

    .dark-theme .bg-img {
        dark-bg-img-styles();
    }
}