// Colors
color-black                 = #000
color-white                 = #FFF
color-orange                = #ffa500
color-yellow                = #f1c40f
color-light-gray            = #BBB
color-light-gray1           = #DDD
color-pale-gray             = #EEE
color-pale-gray1            = #e3e3e3
color-deep-gray             = #222
color-dark-gray             = #444
color-gray                  = #999
color-medium-gray           = #707070
color-slate                 = #4a577d
color-russet-brown          = #894a38
color-deep-reddish-brown    = #8a3104
color-tan-brown             = #946446 
color-dark-olive-green      = #416131
color-light-salmon          = #e17b67
color-bright-yellow-orange  = #ffea07
color-bright-sky-blue       = #428bca
color-light-blue            = #6fb3e0
color-grayish-blue          = #4f99c6
color-navy-blue             = #1b6aaa
color-bright-golden-yellow  = #ffea07

// Global link color on <body>
color-link                  = #0e83cd
color-link-hover            = lighten(color-link, 10%)

// Global text color
text-color                  = color-deep-gray
text-color-dark             = color-white

// Background color
body-bg-color               = color-pale-gray
body-bg-color-dark          = color-deep-gray
nav-bg-color                = color-white
nav-bg-color-dark           = color-dark-gray
content-bg-color            = color-white
content-bg-color-dark       = color-dark-gray

// Layout
max-width            = 80%
gutter-width         = 20px
article-toc-width    = 220px
mobile-nav-width     = 60%

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"