// Colors
color-black = #000
color-white = #FFF
color-light-gray = #EEE
color-link = #0e83cd
color-link-hover = lighten(color-link, 10%)

// Layout
gutter-width = 20px
mobile-nav-width = 60%

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"