// Colors
color-black = #000
color-white = #FFF
color-orange = #ffa500
color-light-gray = #BBB
color-pale-gray = #EEE
color-deep-gray = #222
color-dark-gray = #444
color-slate = #4a577d
color-russet-brown = #894a38
color-tan-brown = #946446 
color-dark-olive-green = #416131
color-light-salmon = #e17b67
color-bright-yellow-orange = #ffea07
color-link = #0e83cd
color-link-hover = lighten(color-link, 10%)

// Layout
gutter-width = 20px
mobile-nav-width = 60%

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"