.btn
    display inline-block
    color color-white !important
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25) !important
    background-image none !important
    border 5px solid color-white
    border-radius 0
    box-shadow none !important
    -webkit-transition all ease .15s
    transition all ease .15s
    cursor pointer
    vertical-align middle
    margin 0
    position relative
    padding 6px 8px
    font-size 14px
    font-weight normal
    line-height 1.428571429
    text-align center
    white-space nowrap

.btn-default
    background-color color-light-blue !important
    border-color color-light-blue
    &:hover
        background-color color-grayish-blue !important
        border-color color-light-blue

.btn-primary
    background-color color-bright-sky-blue !important
    border-color color-bright-sky-blue
    &:hover
        background-color color-navy-blue !important
        border-color color-bright-sky-blue