.btn
    display inline-block
    color color-white !important
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25) !important
    background-image none !important
    border 5px solid color-white
    border-radius 0
    box-shadow none !important
    -webkit-transition all ease .15s
    transition all ease .15s
    cursor pointer
    vertical-align middle
    margin 0
    position relative
    padding 6px 8px
    font-size 14px
    font-weight normal
    line-height 1.428571429
    text-align center
    white-space nowrap

.btn-default
    background-color #6fb3e0 !important
    border-color #6fb3e0
    &:hover
        background-color #4f99c6 !important
        border-color #6fb3e0

.btn-primary
    background-color #428bca !important
    border-color #428bca
    &:hover
        background-color #1b6aaa !important
        border-color #428bca