.btn
    display inline-block
    color #FFF !important
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25) !important
    background-image none !important
    border 5px solid #FFF
    border-radius 0
    box-shadow none !important
    -webkit-transition all ease .15s
    transition all ease .15s
    cursor pointer
    vertical-align middle
    margin 0
    position relative
    padding 6px 12px
    font-size 14px
    font-weight normal
    line-height 1.428571429
    text-align center
    white-space nowrap

.btn, .btn-default
    background-color #abbac3 !important
    border-color #abbac3

.btn
    &:hover
        background-color #8b9aa3 !important
        border-color #abbac3

.btn-primary
    background-color #428bca !important
    border-color #428bca

.btn-primary
    &:hover
        background-color #1b6aaa !important
        border-color #428bca
