html, body, .stage, .ring, .img  
    width 100%  
    height 100%  
    transform-style preserve-3d
    user-select none  
  
html, body, .stage  
    overflow hidden  
  
body  
    zoom 1 
    position relative
    height 100vh
    min-height 600px
    background url(../images/body-bg.png) center no-repeat fixed 
    background-size cover
  
div  
    position absolute
  
.container
    perspective 2000px  
    width 300px  
    height 400px  
    left 50%  
    top 50%  
    transform translate(-50%, -50%)

.img
    opacity 1
    backface-visibility hidden
    transform-origin 50% 50%

.card-container
    position relative
    display flex  
    flex-direction column  
    align-items center  
    text-align center
    justify-content center

.top
    position absolute
    top 30px

.bottom
    position absolute
    bottom 10px

.middle
    margin 0 25px 0 25px

.text
    font-size 18px
    color #428bca

.center
    text-align center !important

.no-margin
    margin 0 !important

.no-padding
    padding 0 !important