global-reset()

html
    text-size-adjust 100%
    -webkit-text-size-adjust 100%
    -moz-text-size-adjust 100%
    -ms-text-size-adjust 100%
    box-sizing border-box

html, body
    @media screen
        height 100%
  
body  
    zoom 1 
    background-size cover
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    overflow-x hidden

.touch-none
    touch-action none /* 禁用浏览器默认的触摸行为 */

.bg-img 
    background url(../images/body-bg.png) center no-repeat fixed

.bg-color
    background-color color-pale-gray

#container
    width 100%
    height 100%
    display flex
    flex-direction column

.wrapper
    clearfix()
    @media mq-normal
        max-width max-width
    @media screen
        margin 0 auto

.inner
    clearfix()
    @media screen
        padding 0 gutter-width

.hidden
    display none

.loading
    background url(../images/loading.svg) center no-repeat fixed

h1
    font-size 2em
    font-weight bold

p
    line-height 1.5