.nav
    padding-left 0
    margin-bottom 0
    list-style none
    clearfix()

    > li
        position relative
        display block

        > a
            display block
            padding 10px 15px
            &:hover,
            &:focus
                text-decoration none
                background-color color-pale-gray

            &.disabled > a
                color color-gray
                pointer-events none
                background-color transparent

// 选项卡标签
.nav-tabs
    border-bottom 1px solid color-light-blue-gray
    clearfix()
  
    > li
        float left
        margin-right -1px
    
        > a
            background var(--no-selected-bg-color)
            border 1px solid color-light-blue-gray
            color var(--text-color)
            padding 8px 12px
            line-height 16px
            position relative
            z-index 11
      
            &:hover
                background var(--selected-bg-color)
                color color-sky-blue

        &.active > a
            cursor default !important
            background var(--selected-bg-color)
            border-top 2px solid color-sky-blue
            border-bottom-color transparent
            z-index 12
            margin-top -1px
            box-shadow 0 -2px 3px rgba(0,0,0,0.15)

// 选项卡内容区
.tab-content
    border 1px solid color-light-blue-gray
    padding 16px 12px
    position relative
    z-index 11

    > .tab-pane
        display none
        &.active
            display block