<% if (page.comments) { %>
<div class = "comment-wrap">
    <div class = "comment-inner">
        <% if (theme.injects.comment.length === 1) { %>
        <% const inject_item = theme.injects.comment[0] %>
        <%- partial(inject_item.layout, inject_item.locals, inject_item.options) %>
        <% } %>
    </div>
</div>
<%- diversity_inject('pageEnd') %>
<% } %>