<footer id="footer">
	<p>
		<% if (config.author){ %>
		&copy; <%= new Date().getFullYear() %> <%= config.author %>
		<% } %>	
	</p>
	<p>
		Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>, <a href="https://github.com/huazie/hexo-theme-diversity" target="_blank">Diversity</a>
	</p>
</footer>