<header id="header" class="header-wrapper">
    <div id="header-inner" class="inner">
        <h1 id="logo-wrap">
            <a href="/" id="logo">Diversity</a>
        </h1>
        <ul id="main-nav">
            <%- header_menu('main-nav') %>
        </ul>

        <button id="color-scheme-toggle">
            <i class="color-scheme-icon fa fa-sun-o"></i>
            <i class="color-scheme-icon fa fa-moon-o"></i>
        </button>

        <a id="mobile-nav-toggle">
            <span class="mobile-nav-toggle-bar"></span>
            <span class="mobile-nav-toggle-bar"></span>
            <span class="mobile-nav-toggle-bar"></span>
        </a>
    </div>
</header>