.card-front,
.card-back
    width 100%
    height 100%
    position absolute
    backface-visibility hidden
    transition transform 0.5s;

.card-front
    transform rotateY(0deg)

.card-back
    transform rotateY(-180deg)

.card:hover .card-front
    transform rotateY(180deg)

.card:hover .card-back
    transform rotateY(0deg)
