#footer
	color rgba(255, 255, 255, 0.7)
	display block
	width 100%
	margin 0 auto
	height auto
	position absolute
	text-align center
	bottom 10px
#footer	a
	color #bbb
	text-decoration none
	&:hover
		color #000

