.content-wrap, .comment-wrap
    width 100%
    height 100%
    flex 1 auto
    margin 0
    padding 0
    border none

.comment-inner
	position relative
	box-sizing border-box
	width 100%
	max-width 768px
	margin-left auto
	margin-right auto